<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= button_to link_to "Edit this task", edit_task_path(@task) %> |
  <%= button_to link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
